/*module 2 solution styles 7.19.2022 */

* {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    box-sizing: border-box;
}


.section, .label {
    border: 2px solid #2d2d2d;
}

.section {
    display: block;
    background-color: #dadada;
    float: left;
    position: relative;
}

.label {
    width: 80px;
    padding: 5px;
    text-align: center;
    font-weight: 900;
    float: right;
    margin: -2px;
}

.dummy-text {
    clear: right;
    padding: 20px;
}

#heading {
    margin: 50px auto 0px auto;
}


#heading {
    text-align: center;
}

#chicken {
    background-color: #deb887;
}

#beef {
    background-color: #b64f00;
}

#sushi {
    background-color: #fda4a4;
}


/*Destkop*/
@media (min-width: 992px) {
    .section {
        width: 27.33%;
        margin: 3%;
        
    }
}


/*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
    #chicken-section, #beef-section {
        width: 44%;
        margin: 3%;
    }
    #sushi-section {
        width: 94%;
        margin: 3%;
    }
}


/*Mobile*/
@media (max-width: 767px) {
    .section {
        margin: 3%;
    }
}
